

.container{
   
  
}
ul{
    padding: 0;
}

ul li{
    border: 1px solid rgb(118, 122, 113);
    list-style: none;
    width: 500px;
    padding: 5px;
   
    
}
h1{
    text-align: center;
}
input{
    width: 100%;
    border: none;

}
