

#app{
    display: flex;
    justify-content: center; 
    flex-direction: column; 
    align-items: center; 
    
   
  
}
ul{
    padding: 0;
    align-items: center;
}

ul li{
    border: 1px solid rgb(118, 122, 113);
    list-style: none;
    width: 500px;
    padding: 5px;
    
   
    
}
h1{
text-align: center;
font-size: 80px;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
input{
    width: 100%;
    border: none;


}
span{
    cursor: pointer;
}
.icon{
    float: right; 
    margin-left: 15px; 
    display: none;
    
}
li:hover .icon{
    display: inline;
}
.paper {
    background-color: #fff;
    position: relative;
    padding: 30px;
  }
  
  .paper,
  .paper::before,
  .paper::after {
   box-shadow: 2px 1px 1px rgba(0,0,0,0.15);
  }
  
  .paper::before,
  .paper::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #eee;
  }
  
  
  .paper::before {
    left: 7px;
    top: 5px;
    z-index: -1;
  }
  
 
  .paper::after {
    left: 12px;
    top: 10px;
    z-index: -2;
  }